<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    {% if task_detail %}
    <h1>Check task detail for task:{{task_detail.id}}</h1>
    <hr />
    <h4>Task ID: {{task_detail.id}}</h4>
    <h4>Task status: {{task_detail.status}}</h4>
    <h4>Task state: {{task_detail.state}}</h4>
    <h4>Task Result: {{task_detail.result}}</h4>
    {% endif %}
</body>
</html>